In [1]:
#Qtn one
#attempt one
import pandas as pd

# Define the two sample series
series1 = pd.Series([4, 65, 436, 3, 9])
series2 = pd.Series([7, 0, 3, 897, 9])

# Compare the elements of the two series
comparison = series1 == series2

# Print the result
print(comparison)

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [2]:
#second approach
import pandas as pd

# Define the two sample series
series1 = pd.Series([4, 65, 436, 3, 9])
series2 = pd.Series([7, 0, 3, 897, 9])

# Compare the elements of the two series
comparison = series1.equals(series2)

# Print the result
print(comparison)

False

Question 2

In [3]:
import pandas as pd

# Define the sample series
series1 = pd.Series([2, 4, 6, 8, 14])
series2 = pd.Series([1, 3, 5, 7, 9])

# Addition
addition = series1 + series2
print("Addition:")
print(addition)

# Subtraction
subtraction = series1 - series2
print("\nSubtraction:")
print(subtraction)

# Multiplication
multiplication = series1 * series2
print("\nMultiplication:")
print(multiplication)

# Division
division = series1 / series2
print("\nDivision:")
print(division)

Addition:
0     3
1     7
2    11
3    15
4    23
dtype: int64

Subtraction:
0    1
1    1
2    1
3    1
4    5
dtype: int64

Multiplication:
0      2
1     12
2     30
3     56
4    126
dtype: int64

Division:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.555556
dtype: float64

Question 3

In [4]:
import pandas as pd

# Sample dictionary
dictionary1 = {'Josh': 24, 'Sam': 36, 'Peace': 19, 'Charles': 65, 'Tom': 44}

# Convert the dictionary to a series
series1 = pd.Series(dictionary1)

# Print the resulting series
print(series1)

Josh       24
Sam        36
Peace      19
Charles    65
Tom        44
dtype: int64

Question 4

In [5]:
import pandas as pd
import numpy as np

# Sample series
series1 = pd.Series(['Love', 800, 'Joy', 789.9, 'Peace', True])

# Convert the series to an array
array1 = np.array(series1)

# Print the resulting array
print(array1)

['Love' 800 'Joy' 789.9 'Peace' True]

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statistics
import scipy as stat
import seaborn as sns

In [54]:
dara=pd.read_csv('AfricaCupofNationsMatches.csv')
HomeTeems =dara['HomeTeamGoals']
#print(HomeTeams)
Home=pd.Series(HomeTeems)
#most frequent
most_freq=Home.mode()[0]
print("the most frequent value is, ",most_freq)

#replaccing the most frequent value with 'Other'
Home[Home == most_freq] = 'Other'
Home

the most frequent value is,  1.0

0      Other
1        NaN
2        4.0
3        4.0
4      Other
       ...
617      0.0
618    Other
619      2.0
620      0.0
621      0.0
Name: HomeTeamGoals, Length: 622, dtype: object

DataFrames

Question 1 of 20

In [11]:
dara=pd.read_csv('AfricaCupofNationsMatches.csv')
dara

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,0.0,Final,NaN,Municipal Stadium,Khartoum,30000.0
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
617,2019,11 July 2019 (2019-07-11),21:00,Madagascar,Tunisia,0.0,3.0,Quarter-finals,NaN,Al Salam Stadium,Cairo,7568.0
618,2019,14 July 2019 (2019-07-14),18:00,Senegal,Tunisia,1.0,0.0,Semi-finals,win after extra time,30 June Stadium,Cairo,9143.0
619,2019,14 July 2019 (2019-07-14),21:00,Algeria,Nigeria,2.0,1.0,Semi-finals,NaN,Cairo International Stadium,Cairo,49775.0
620,2019,17 July 2019 (2019-07-17),21:00,Tunisia,Nigeria,0.0,1.0,Third place play-off,NaN,Al Salam Stadium,Cairo,6340.0
621,2019,19 July 2019 (2019-07-19),21:00,Senegal,Algeria,0.0,1.0,Final,NaN,Cairo International Stadium,Cairo,75000.0

Question 2 of 20

In [13]:
first_seven=dara.head(7)
#print("First seven rows of the dataset are:" ,first_seven)
first_seven

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,0.0,Final,NaN,Municipal Stadium,Khartoum,30000.0
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0
5,1959,29-May-59,NaN,Egypt,Sudan,2.0,1.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
6,1962,14-Jan-62,NaN,Ethiopia,Tunisia,4.0,2.0,Semifinals,NaN,Hailé Sélassié Stadium,Addis Ababa,30000.0

Question 3 of 20

In [14]:
selected_columns=['HomeTeam', 'AwayTeam', 'HomeTeamGoals','AwayTeamGoals']
selected=dara[selected_columns]
selected

        HomeTeam       AwayTeam  HomeTeamGoals  AwayTeamGoals
0         Sudan           Egypt            1.0            2.0
1      Ethiopia    South Africa            NaN            NaN
2         Egypt        Ethiopia            4.0            0.0
3          Egypt       Ethiopia            4.0            0.0
4         Sudan        Ethiopia            1.0            0.0
..           ...            ...            ...            ...
617  Madagascar         Tunisia            0.0            3.0
618     Senegal         Tunisia            1.0            0.0
619     Algeria         Nigeria            2.0            1.0
620     Tunisia         Nigeria            0.0            1.0
621     Senegal         Algeria            0.0            1.0

[622 rows x 4 columns]

Question 4 of 20

In [16]:
egypt_rows = dara[dara['HomeTeam'] == 'Egypt']
egypt_rows

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
5,1959,29-May-59,NaN,Egypt,Sudan,2.0,1.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
7,1962,18-Jan-62,NaN,Egypt,Uganda,2.0,1.0,Semifinals,NaN,Hailé Sélassié Stadium,Addis Ababa,30000.0
13,1963,24-Nov-63,NaN,Egypt,Nigeria,6.0,3.0,Group B,NaN,Kumasi Sports Stadium,Kumasi,NaN
14,1963,26-Nov-63,NaN,Egypt,Sudan,2.0,2.0,Group B,NaN,Kumasi Sports Stadium,Kumasi,NaN
16,1963,30-Nov-63,NaN,Egypt,Ethiopia,3.0,0.0,Third place match,NaN,Accra Sports Stadium,Accra,NaN

Question 5 of 20

In [17]:
num_rows = dara.shape[0]
num_columns = dara.shape[1]

# Print the counts
print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

Number of rows: 622
Number of columns: 12

Question 6 of 20

In [19]:
empty=dara[dara['Attendance'].isna()]
print(empty)

     Year                         Date   Time        HomeTeam       AwayTeam  \
1    1957                     10-Feb-57    NaN      Ethiopia    South Africa
8    1962                     20-Jan-62    NaN       Tunisia          Uganda
9    1962                     21-Jan-62    NaN      Ethiopia           Egypt
10   1963                     24-Nov-63    NaN         Ghana         Tunisia
11   1963                     26-Nov-63    NaN         Ghana        Ethiopia
..    ...                           ...    ...            ...            ...
565  2017  29 January 2017 (2017-01-29)  20:00         Egypt         Morocco
566  2017  1 February 2017 (2017-02-01)  20:00  Burkina Faso           Egypt
567  2017  2 February 2017 (2017-02-02)  20:00      Cameroon           Ghana
568  2017  4 February 2017 (2017-02-04)  20:00  Burkina Faso           Ghana
569  2017  5 February 2017 (2017-02-05)  20:00         Egypt        Cameroon

     HomeTeamGoals  AwayTeamGoals                 Stage  \
1              NaN            NaN            Semifinals
8              3.0            0.0     Third place match
9              4.0            2.0                 Final
10             1.0            1.0               Group A
11             2.0            0.0               Group A
..             ...            ...                   ...
565            1.0            0.0        Quarter-finals
566            1.0            1.0           Semi-finals
567            2.0            0.0           Semi-finals
568            1.0            0.0  Third place play-off
569            1.0            2.0                 Final

                                  SpecialWinConditions  \
1    Ethiopia  wins due to disqualification of othe...
8                                                  NaN
9                                win after extra time
10                                                 NaN
11                                                 NaN
..                                                 ...
565                                                NaN
566                        Egypt win on Penalities 3-4
567                                                NaN
568                                                NaN
569                                                NaN

                    Stadium          City  Attendance
1                       NaN           NaN         NaN
8    Hailé Sélassié Stadium   Addis Ababa         NaN
9    Hailé Sélassié Stadium   Addis Ababa         NaN
10     Accra Sports Stadium         Accra         NaN
11     Accra Sports Stadium         Accra         NaN
..                      ...           ...         ...
565    Stade de Port-Gentil   Port-Gentil         NaN
566       Stade de l'Amitié    Libreville         NaN
567    Stade de Franceville   Franceville         NaN
568    Stade de Port-Gentil   Port-Gentil         NaN
569       Stade de l'Amitié    Libreville         NaN

[100 rows x 12 columns]

Question 7 of 20

In [20]:
#select the rows where the ‘HomeTeamGoals’ are between 3 and 6 inclusive.
selected_rows = dara[(dara['HomeTeamGoals'] >= 3) & (dara['HomeTeamGoals'] <= 6)]

# Print the selected rows
print(selected_rows)

     Year                         Date   Time    HomeTeam     AwayTeam  \
2    1957                     16-Feb-57    NaN     Egypt      Ethiopia
3    1959                     22-May-59    NaN      Egypt     Ethiopia
6    1962                     14-Jan-62    NaN  Ethiopia       Tunisia
8    1962                     20-Jan-62    NaN   Tunisia        Uganda
9    1962                     21-Jan-62    NaN  Ethiopia         Egypt
..    ...                           ...    ...        ...          ...
553  2017  20 January 2017 (2017-01-20)  20:00   Morocco          Togo
585  2019     27 June 2019 (2019-06-27)  22:00     Kenya      Tanzania
595  2019     24 June 2019 (2019-06-24)  22:00      Mali    Mauritania
608  2019      6 July 2019 (2019-07-06)  18:00   Nigeria      Cameroon
611  2019      7 July 2019 (2019-07-07)  21:00   Algeria        Guinea

     HomeTeamGoals  AwayTeamGoals              Stage    SpecialWinConditions  \
2              4.0            0.0              Final                     NaN
3              4.0            0.0   Final Tournament                     NaN
6              4.0            2.0         Semifinals                     NaN
8              3.0            0.0  Third place match                     NaN
9              4.0            2.0              Final   win after extra time
..             ...            ...                ...                     ...
553            3.0            1.0            Group C                     NaN
585            3.0            2.0            Group C                     NaN
595            4.0            1.0            Group E                     NaN
608            3.0            2.0        Round of 16                     NaN
611            3.0            0.0        Round of 16                     NaN

                    Stadium          City  Attendance
2         Municipal Stadium      Khartoum     30000.0
3     Prince Farouk Stadium         Cairo     30000.0
6    Hailé Sélassié Stadium   Addis Ababa     30000.0
8    Hailé Sélassié Stadium   Addis Ababa         NaN
9    Hailé Sélassié Stadium   Addis Ababa         NaN
..                      ...           ...         ...
553            Stade d'Oyem          Oyem         NaN
585         30 June Stadium         Cairo      7233.0
595            Suez Stadium          Suez      6202.0
608      Alexandria Stadium    Alexandria     10000.0
611         30 June Stadium         Cairo      8205.0

[138 rows x 12 columns]

Question 8 of 20

In [21]:
# Change the "AwayTeamGoals" in the 3rd row to 10
dara.loc[2, 'AwayTeamGoals'] = 10

# Print the updated DataFrame
print(dara)

     Year                      Date   Time      HomeTeam       AwayTeam  \
0    1957                  10-Feb-57    NaN       Sudan           Egypt
1    1957                  10-Feb-57    NaN    Ethiopia    South Africa
2    1957                  16-Feb-57    NaN       Egypt        Ethiopia
3    1959                  22-May-59    NaN        Egypt       Ethiopia
4    1959                  25-May-59    NaN       Sudan        Ethiopia
..    ...                        ...    ...          ...            ...
617  2019  11 July 2019 (2019-07-11)  21:00  Madagascar         Tunisia
618  2019  14 July 2019 (2019-07-14)  18:00     Senegal         Tunisia
619  2019  14 July 2019 (2019-07-14)  21:00     Algeria         Nigeria
620  2019  17 July 2019 (2019-07-17)  21:00     Tunisia         Nigeria
621  2019  19 July 2019 (2019-07-19)  21:00     Senegal         Algeria

     HomeTeamGoals  AwayTeamGoals                 Stage  \
0              1.0            2.0            Semifinals
1              NaN            NaN            Semifinals
2              4.0           10.0                 Final
3              4.0            0.0      Final Tournament
4              1.0            0.0      Final Tournament
..             ...            ...                   ...
617            0.0            3.0        Quarter-finals
618            1.0            0.0           Semi-finals
619            2.0            1.0           Semi-finals
620            0.0            1.0  Third place play-off
621            0.0            1.0                 Final

                                  SpecialWinConditions  \
0                                                  NaN
1    Ethiopia  wins due to disqualification of othe...
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
617                                                NaN
618                              win after extra time
619                                                NaN
620                                                NaN
621                                                NaN

                         Stadium       City  Attendance
0              Municipal Stadium   Khartoum     30000.0
1                            NaN        NaN         NaN
2              Municipal Stadium   Khartoum     30000.0
3          Prince Farouk Stadium      Cairo     30000.0
4          Prince Farouk Stadium      Cairo     20000.0
..                           ...        ...         ...
617             Al Salam Stadium      Cairo      7568.0
618              30 June Stadium      Cairo      9143.0
619  Cairo International Stadium      Cairo     49775.0
620             Al Salam Stadium      Cairo      6340.0
621  Cairo International Stadium      Cairo     75000.0

[622 rows x 12 columns]

Question 9 of 20

In [25]:
# Sort the DataFrame by 'HomeTeam' in ascending order and 'HomeTeamScores' in descending order
sorted_dara = dara.sort_values(by=['HomeTeam', 'HomeTeamGoals'], ascending=[True, False])

# Print the sorted DataFrame
sorted_dara

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
205,1990,2-Mar-90,NaN,Algeria,Nigeria,5.0,1.0,Group A,NaN,Stade 5 Juillet 1962,Algiers,85000.0
29,1968,14-Jan-68,NaN,Algeria,Uganda,4.0,0.0,Group A,NaN,Hailé Sélassié Stadium,Addis Ababa,25000.0
135,1980,16-Mar-80,NaN,Algeria,Guinea,3.0,2.0,Group B,NaN,Liberty Stadium,Ibadan,20000.0
164,1984,5-Mar-84,NaN,Algeria,Malawi,3.0,0.0,Group B,NaN,Stade Bouaké,Bouaké,10000.0
171,1984,17-Mar-84,NaN,Algeria,Egypt,3.0,1.0,Third place match,NaN,Stade Félix Houphouët-Boigny,Abidjan,500.0
...,...,...,...,...,...,...,...,...,...,...,...,...
521,2012,12-Feb-12,20:30[note 1],Zambia,Ivory Coast,0.0,0.0,Final,Zambia win on Penalities 8-7,Stade d'Angondjé,Libreville,40000.0
549,2017,23 January 2017 (2017-01-23),20:00,Zimbabwe,Tunisia,2.0,4.0,Group B,NaN,Stade de l'Amitié,Libreville,NaN
398,2004,25-Jan-04,16:30,Zimbabwe,Egypt,1.0,2.0,Group C,NaN,Stade Taïeb El Mhiri,Sfax,22000.0
437,2006,23-Jan-06,20:00,Zimbabwe,Senegal,0.0,2.0,Group D,NaN,Port Said Stadium,Port Said,15000.0
575,2019,30 June 2019 (2019-06-30),21:00,Zimbabwe,DR Congo,0.0,4.0,Group A,NaN,30 June Stadium,Cairo,4364.0

Question 10 of 20

In [26]:
column_headers=list(dara.columns)
column_headers

['Year',
 'Date ',
 'Time ',
 'HomeTeam',
 'AwayTeam',
 'HomeTeamGoals',
 'AwayTeamGoals',
 'Stage',
 'SpecialWinConditions',
 'Stadium',
 'City',
 'Attendance']

Question 11 of 20

In [34]:

# Create a new column
new_column = [1, 2, 3, 4, 5]  # Example data for the new column

# Check if the length of the new column matches the length of the DataFrame
if len(new_column) == len(dara):
    # Append the new column to the DataFrame
    dara['NewColumn'] = new_column

    # Print the updated DataFrame
    print(dara)
else:
    # Print an error message
    print("Length of the new column does not match the length of the DataFrame")

Length of the new column does not match the length of the DataFrame

In [31]:
dara.columns

Index(['Year', 'Date ', 'Time ', 'HomeTeam', 'AwayTeam', 'HomeTeamGoals',
       'AwayTeamGoals', 'Stage', 'SpecialWinConditions', 'Stadium', 'City',
       'Attendance'],
      dtype='object')

Question 12 of 20

In [37]:


# Create two new rows as dictionaries
new_row1 = {'Year': 2034, 'Date ': '12/07/2009', 'Time ':' ','HomeTeam': 'Italy', 'AwayTeam': 'France', 'HomeTeamGoals':4.0,
       'AwayTeamGoals': 3.0, 'Stage':'Finals', 'SpecialWinConditions':" ", 'Stadium':'Wembly', 'City':'London',
       'Attendance':' '}  # Replace 'Column1', 'Column2', etc., with the actual column names and provide values
new_row2 = {'Year': 2024, 'Date ': '12/07/2019', 'Time ':' ','HomeTeam': 'Kenya', 'AwayTeam': 'Iceland', 'HomeTeamGoals':6.0,
       'AwayTeamGoals': 3.0, 'Stage':'Finals', 'SpecialWinConditions':" ", 'Stadium':'Wembly', 'City':'London',
       'Attendance':' '}   # Replace 'Column1', 'Column2', etc., with the actual column names and provide values

# Append the new rows to the DataFrame
dara = pd.concat([dara, pd.DataFrame(new_row1, index=[0])], ignore_index=True)
dara = pd.concat([dara, pd.DataFrame(new_row2, index=[0])], ignore_index=True)
# Print the updated DataFrame
dara

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,10.0,Final,NaN,Municipal Stadium,Khartoum,30000.0
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
621,2019,19 July 2019 (2019-07-19),21:00,Senegal,Algeria,0.0,1.0,Final,NaN,Cairo International Stadium,Cairo,75000.0
622,2034,12/07/2009,,Italy,France,4.0,3.0,Finals,,Wembly,London,
623,2024,12/07/2019,,Kenya,Iceland,6.0,3.0,Finals,,Wembly,London,
624,2034,12/07/2009,,Italy,France,4.0,3.0,Finals,,Wembly,London,
625,2024,12/07/2019,,Kenya,Iceland,6.0,3.0,Finals,,Wembly,London,

Question 13 of 20

In [39]:


# Change 'Uganda' to 'China' in the 'AwayTeam' column
dara.loc[dara['AwayTeam'] == 'Uganda', 'AwayTeam'] = 'China'

# Print the updated DataFrame
dara

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,10.0,Final,NaN,Municipal Stadium,Khartoum,30000.0
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
621,2019,19 July 2019 (2019-07-19),21:00,Senegal,Algeria,0.0,1.0,Final,NaN,Cairo International Stadium,Cairo,75000.0
622,2034,12/07/2009,,Italy,France,4.0,3.0,Finals,,Wembly,London,
623,2024,12/07/2019,,Kenya,Iceland,6.0,3.0,Finals,,Wembly,London,
624,2034,12/07/2009,,Italy,France,4.0,3.0,Finals,,Wembly,London,
625,2024,12/07/2019,,Kenya,Iceland,6.0,3.0,Finals,,Wembly,London,

Question 14 of 20

In [41]:
# Reset the index of the DataFrame
dara = dara.reset_index(drop=True)

# Print the DataFrame with reset index
dara

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,10.0,Final,NaN,Municipal Stadium,Khartoum,30000.0
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
621,2019,19 July 2019 (2019-07-19),21:00,Senegal,Algeria,0.0,1.0,Final,NaN,Cairo International Stadium,Cairo,75000.0
622,2034,12/07/2009,,Italy,France,4.0,3.0,Finals,,Wembly,London,
623,2024,12/07/2019,,Kenya,Iceland,6.0,3.0,Finals,,Wembly,London,
624,2034,12/07/2009,,Italy,France,4.0,3.0,Finals,,Wembly,London,
625,2024,12/07/2019,,Kenya,Iceland,6.0,3.0,Finals,,Wembly,London,

Question 15 of 20

In [42]:

# Check if 'Stadium' column is present in the DataFrame
if 'Stadium' in dara.columns:
    print("The 'Stadium' column is present in the DataFrame.")
else:
    print("The 'Stadium' column is not present in the DataFrame.")

The 'Stadium' column is present in the DataFrame.

Question 16 of 20

In [43]:


# Convert the datatype of 'AwayTeamGoals' to float
dara['AwayTeamGoals'] = dara['AwayTeamGoals'].astype(float)

# Print the updated DataFrame
dara

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,10.0,Final,NaN,Municipal Stadium,Khartoum,30000.0
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
621,2019,19 July 2019 (2019-07-19),21:00,Senegal,Algeria,0.0,1.0,Final,NaN,Cairo International Stadium,Cairo,75000.0
622,2034,12/07/2009,,Italy,France,4.0,3.0,Finals,,Wembly,London,
623,2024,12/07/2019,,Kenya,Iceland,6.0,3.0,Finals,,Wembly,London,
624,2034,12/07/2009,,Italy,France,4.0,3.0,Finals,,Wembly,London,
625,2024,12/07/2019,,Kenya,Iceland,6.0,3.0,Finals,,Wembly,London,

Question 17 of 20

In [44]:
# Remove the last 10 rows from the DataFrame
dara = dara[:-10]

# Print the updated DataFrame
dara

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,10.0,Final,NaN,Municipal Stadium,Khartoum,30000.0
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
611,2019,7 July 2019 (2019-07-07),21:00,Algeria,Guinea,3.0,0.0,Round of 16,NaN,30 June Stadium,Cairo,8205.0
612,2019,8 July 2019 (2019-07-08),18:00,Mali,Ivory Coast,0.0,1.0,Round of 16,NaN,Suez Stadium,Suez,7672.0
613,2019,8 July 2019 (2019-07-08),21:00,Ghana,Tunisia,1.0,1.0,Round of 16,Tunisia win on Penalities 4-5,Ismailia Stadium,Ismailia,8890.0
614,2019,10 July 2019 (2019-07-10),18:00,Senegal,Benin,1.0,0.0,Quarter-finals,NaN,30 June Stadium,Cairo,5798.0
615,2019,10 July 2019 (2019-07-10),21:00,Nigeria,South Africa,2.0,1.0,Quarter-finals,NaN,Cairo International Stadium,Cairo,48343.0

Question 18 of 20

In [46]:
for index, row in dara.iterrows():
    # Access row values using row['column_name']
    print(row['Year'], row['Date '])

1957 10-Feb-57
1957 10-Feb-57
1957 16-Feb-57
1959 22-May-59
1959 25-May-59
1959 29-May-59
1962 14-Jan-62
1962 18-Jan-62
1962 20-Jan-62
1962 21-Jan-62
1963 24-Nov-63
1963 26-Nov-63
1963 28-Nov-63
1963 24-Nov-63
1963 26-Nov-63
1963 28-Nov-63
1963 30-Nov-63
1963 1-Dec-63
1965 12-Nov-65
1965 14-Nov-65
1965 19-Nov-65
1965 12-Nov-65
1965 14-Nov-65
1965 19-Nov-65
1965 21-Nov-65
1965 21-Nov-65
1968 12-Jan-68
1968 12-Jan-68
1968 14-Jan-68
1968 14-Jan-68
1968 16-Jan-68
1968 16-Jan-68
1968 12-Jan-68
1968 12-Jan-68
1968 14-Jan-68
1968 14-Jan-68
1968 16-Jan-68
1968 16-Jan-68
1968 19-Jan-68
1968 19-Jan-68
1968 21-Jan-68
1968 21-Jan-68
1970 6-Feb-70
1970 6-Feb-70
1970 8-Feb-70
1970 8-Feb-70
1970 10-Feb-70
1970 10-Feb-70
1970 7-Feb-70
1970 7-Feb-70
1970 9-Feb-70
1970 9-Feb-70
1970 11-Feb-70
1970 11-Feb-70
1970 14-Feb-70
1970 14-Feb-70
1970 16-Feb-70
1970 16-Feb-70
1972 23-Feb-72
1972 24-Feb-72
1972 26-Feb-72
1972 26-Feb-72
1972 28-Feb-72
1972 28-Feb-72
1972 25-Feb-72
1972 25-Feb-72
1972 27-Feb-72
1972 27-Feb-72
1972 29-Feb-72
1972 29-Feb-72
1972 2-Mar-72
1972 2-Mar-72
1972 4-Mar-72
1972 5-Mar-72
1974 1-Mar-74
1974 2-Mar-74
1974 4-Mar-74
1974 4-Mar-74
1974 6-Mar-74
1974 6-Mar-74
1974 3-Mar-74
1974 3-Mar-74
1974 5-Mar-74
1974 5-Mar-74
1974 7-Mar-74
1974 7-Mar-74
1974 9-Mar-74
1974 9-Mar-74
1974 11-Mar-74
1974 12-Mar-74
1974 14-Mar-74
1976 29-Feb-76
1976 29-Feb-76
1976 3-Mar-76
1976 3-Mar-76
1976 5-Mar-76
1976 5-Mar-76
1976 1-Mar-76
1976 1-Mar-76
1976 4-Mar-76
1976 4-Mar-76
1976 6-Mar-76
1976 6-Mar-76
1976 9-Mar-76
1976 9-Mar-76
1976 11-Mar-76
1976 11-Mar-76
1976 14-Mar-76
1976 14-Mar-76
1978 5-Mar-78
1978 5-Mar-78
1978 8-Mar-78
1978 8-Mar-78
1978 10-Mar-78
1978 10-Mar-78
1978 6-Mar-78
1978 6-Mar-78
1978 9-Mar-78
1978 9-Mar-78
1978 11-Mar-78
1978 11-Mar-78
1978 14-Mar-78
1978 14-Mar-78
1978 16-Mar-78
1978 16-Mar-78
1980 8-Mar-80
1980 8-Mar-80
1980 12-Mar-80
1980 12-Mar-80
1980 15-Mar-80
1980 15-Mar-80
1980 9-Mar-80
1980 9-Mar-80
1980 13-Mar-80
1980 13-Mar-80
1980 16-Mar-80
1980 16-Mar-80
1980 19-Mar-80
1980 19-Mar-80
1980 21-Mar-80
1980 22-Mar-80
1982 5-Mar-82
1982 5-Mar-82
1982 9-Mar-82
1982 9-Mar-82
1982 12-Mar-82
1982 12-Mar-82
1982 7-Mar-82
1982 7-Mar-82
1982 10-Mar-82
1982 10-Mar-82
1982 13-Mar-82
1982 13-Mar-82
1982 16-Mar-82
1982 16-Mar-82
1982 18-Mar-82
1982 19-Mar-82
1984 4-Mar-84
1984 4-Mar-84
1984 7-Mar-84
1984 7-Mar-84
1984 10-Mar-84
1984 10-Mar-84
1984 5-Mar-84
1984 5-Mar-84
1984 8-Mar-84
1984 8-Mar-84
1984 11-Mar-84
1984 11-Mar-84
1984 14-Mar-84
1984 14-Mar-84
1984 17-Mar-84
1984 18-Mar-84
1986 7-Mar-86
1986 7-Mar-86
1986 10-Mar-86
1986 10-Mar-86
1986 13-Mar-86
1986 13-Mar-86
1986 8-Mar-86
1986 8-Mar-86
1986 11-Mar-86
1986 11-Mar-86
1986 14-Mar-86
1986 14-Mar-86
1986 17-Mar-86
1986 17-Mar-86
1986 20-Mar-86
1986 21-Mar-86
1988 13-Mar-88
1988 13-Mar-88
1988 16-Mar-88
1988 16-Mar-88
1988 19-Mar-88
1988 19-Mar-88
1988 14-Mar-88
1988 14-Mar-88
1988 17-Mar-88
1988 17-Mar-88
1988 20-Mar-88
1988 20-Mar-88
1988 23-Mar-88
1988 23-Mar-88
1988 26-Mar-88
1988 27-Mar-88
1990 2-Mar-90
1990 2-Mar-90
1990 5-Mar-90
1990 5-Mar-90
1990 8-Mar-90
1990 8-Mar-90
1990 3-Mar-90
1990 3-Mar-90
1990 6-Mar-90
1990 6-Mar-90
1990 9-Mar-90
1990 9-Mar-90
1990 12-Mar-90
1990 12-Mar-90
1990 15-Mar-90
1990 16-Mar-90
1992 12-Jan-92
1992 14-Jan-92
1992 16-Jan-92
1992 12-Jan-92
1992 14-Jan-92
1992 16-Jan-92
1992 13-Jan-92
1992 15-Jan-92
1992 17-Jan-92
1992 13-Jan-92
1992 15-Jan-92
1992 17-Jan-92
1992 19-Jan-92
1992 19-Jan-92
1992 20-Jan-92
1992 20-Jan-92
1992 23-Jan-92
1992 23-Jan-92
1992 25-Jan-92
1992 26-Jan-92
1994 26-Mar-94
1994 28-Mar-94
1994 30-Mar-94
1994 26-Mar-94
1994 28-Mar-94
1994 30-Mar-94
1994 27-Mar-94
1994 29-Mar-94
1994 31-Mar-94
1994 27-Mar-94
1994 29-Mar-94
1994 31-Mar-94
1994 2-Apr-94
1994 2-Apr-94
1994 3-Apr-94
1994 3-Apr-94
1994 6-Apr-94
1994 6-Apr-94
1994 10-Apr-94
1994 10-Apr-94
1996 13-Jan-96
1996 15-Jan-96
1996 18-Jan-96
1996 20-Jan-96
1996 24-Jan-96
1996 24-Jan-96
1996 14-Jan-96
1996 15-Jan-96
1996 18-Jan-96
1996 20-Jan-96
1996 24-Jan-96
1996 24-Jan-96
1996 16-Jan-96
1996 19-Jan-96
1996 25-Jan-96
1996 14-Jan-96
1996 16-Jan-96
1996 19-Jan-96
1996 21-Jan-96
1996 25-Jan-96
1996 25-Jan-96
1996 27-Jan-96
1996 27-Jan-96
1996 28-Jan-96
1996 28-Jan-96
1996 31-Jan-96
1996 31-Jan-96
1996 3-Feb-96
1996 3-Feb-96
1998 7-Feb-98
1998 8-Feb-98
1998 11-Feb-98
1998 11-Feb-98
1998 15-Feb-98
1998 15-Feb-98
1998 9-Feb-98
1998 9-Feb-98
1998 12-Feb-98
1998 12-Feb-98
1998 16-Feb-98
1998 16-Feb-98
1998 8-Feb-98
1998 8-Feb-98
1998 11-Feb-98
1998 12-Feb-98
1998 16-Feb-98
1998 16-Feb-98
1998 9-Feb-98
1998 10-Feb-98
1998 13-Feb-98
1998 13-Feb-98
1998 17-Feb-98
1998 17-Feb-98
1998 20-Feb-98
1998 21-Feb-98
1998 21-Feb-98
1998 22-Feb-98
1998 25-Feb-98
1998 25-Feb-98
1998 27-Feb-98
1998 28-Feb-98
2000 22-Jan-00
2000 24-Jan-00
2000 27-Jan-00
2000 28-Jan-00
2000 31-Jan-00
2000 31-Jan-00
2000 23-Jan-00
2000 24-Jan-00
2000 27-Jan-00
2000 29-Jan-00
2000 2-Feb-00
2000 2-Feb-00
2000 23-Jan-00
2000 25-Jan-00
2000 28-Jan-00
2000 29-Jan-00
2000 2-Feb-00
2000 2-Feb-00
2000 23-Jan-00
2000 25-Jan-00
2000 28-Jan-00
2000 29-Jan-00
2000 3-Feb-00
2000 3-Feb-00
2000 6-Feb-00
2000 6-Feb-00
2000 7-Feb-00
2000 7-Feb-00
2000 10-Feb-00
2000 10-Feb-00
2000 12-Feb-00
2000 13-Feb-00
2002 19-Jan-02
2002 21-Jan-02
2002 24-Jan-02
2002 25-Jan-02
2002 28-Jan-02
2002 28-Jan-02
2002 20-Jan-02
2002 21-Jan-02
2002 24-Jan-02
2002 26-Jan-02
2002 30-Jan-02
2002 30-Jan-02
2002 20-Jan-02
2002 21-Jan-02
2002 25-Jan-02
2002 26-Jan-02
2002 29-Jan-02
2002 29-Jan-02
2002 20-Jan-02
2002 21-Jan-02
2002 25-Jan-02
2002 26-Jan-02
2002 31-Jan-02
2002 31-Jan-02
2002 3-Feb-02
2002 3-Feb-02
2002 4-Feb-02
2002 4-Feb-02
2002 7-Feb-02
2002 7-Feb-02
2002 9-Feb-02
2002 10-Feb-02
2004 24-Jan-04
2004 25-Jan-04
2004 28-Jan-04
2004 28-Jan-04
2004 1-Feb-04
2004 1-Feb-04
2004 26-Jan-04
2004 26-Jan-04
2004 30-Jan-04
2004 30-Jan-04
2004 2-Feb-04
2004 2-Feb-04
2004 25-Jan-04
2004 25-Jan-04
2004 29-Jan-04
2004 29-Jan-04
2004 3-Feb-04
2004 3-Feb-04
2004 27-Jan-04
2004 27-Jan-04
2004 31-Jan-04
2004 31-Jan-04
2004 4-Feb-04
2004 4-Feb-04
2004 7-Feb-04
2004 7-Feb-04
2004 8-Feb-04
2004 8-Feb-04
2004 11-Feb-04
2004 11-Feb-04
2004 13-Feb-04
2004 14-Feb-04
2006 20-Jan-06
2006 21-Jan-06
2006 24-Jan-06
2006 24-Jan-06
2006 28-Jan-06
2006 28-Jan-06
2006 21-Jan-06
2006 21-Jan-06
2006 25-Jan-06
2006 25-Jan-06
2006 29-Jan-06
2006 29-Jan-06
2006 22-Jan-06
2006 22-Jan-06
2006 26-Jan-06
2006 26-Jan-06
2006 30-Jan-06
2006 30-Jan-06
2006 23-Jan-06
2006 23-Jan-06
2006 27-Jan-06
2006 27-Jan-06
2006 31-Jan-06
2006 31-Jan-06
2006 3-Feb-06
2006 3-Feb-06
2006 4-Feb-06
2006 4-Feb-06
2006 7-Feb-06
2006 7-Feb-06
2006 9-Feb-06
2006 10-Feb-06
2008 20-Jan-08
2008 21-Jan-08
2008 24-Jan-08
2008 24-Jan-08
2008 28-Jan-08
2008 28-Jan-08
2008 21-Jan-08
2008 21-Jan-08
2008 25-Jan-08
2008 25-Jan-08
2008 29-Jan-08
2008 29-Jan-08
2008 22-Jan-08
2008 22-Jan-08
2008 26-Jan-08
2008 26-Jan-08
2008 30-Jan-08
2008 30-Jan-08
2008 23-Jan-08
2008 23-Jan-08
2008 27-Jan-08
2008 27-Jan-08
2008 31-Jan-08
2008 31-Jan-08
2008 3-Feb-08
2008 3-Feb-08
2008 4-Feb-08
2008 4-Feb-08
2008 7-Feb-08
2008 7-Feb-08
2008 9-Feb-08
2008 10-Feb-08
2010 10-Jan-10
2010 11-Jan-10
2010 14-Jan-10
2010 14-Jan-10
2010 18-Jan-10
2010 18-Jan-10
2010 11-Jan-10
2010 11-Jan-10
2010 15-Jan-10
2010 15-Jan-10
2010 19-Jan-10
2010 19-Jan-10
2010 12-Jan-10
2010 12-Jan-10
2010 16-Jan-10
2010 16-Jan-10
2010 20-Jan-10
2010 20-Jan-10
2010 13-Jan-10
2010 13-Jan-10
2010 17-Jan-10
2010 17-Jan-10
2010 21-Jan-10
2010 21-Jan-10
2010 24-Jan-10
2010 24-Jan-10
2010 25-Jan-10
2010 25-Jan-10
2010 28-Jan-10
2010 28-Jan-10
2010 30-Jan-10
2010 31-Jan-10
2012 4-Feb-12
2012 4-Feb-12
2012 5-Feb-12
2012 5-Feb-12
2012 8-Feb-12
2012 8-Feb-12
2012 11-Feb-12
2012 12-Feb-12
2013 2-Feb-13
2013 2-Feb-13
2013 3-Feb-13
2013 3-Feb-13
2013 6-Feb-13
2013 6-Feb-13
2013 9-Feb-13
2013 10-Feb-13
2015 31-Jan-15
2015 31-Jan-15
2015 1-Feb-15
2015 1-Feb-15
2015 4-Feb-15
2015 5-Feb-15
2015 7-Feb-15
2015 8-Feb-15
2017 14 January 2017 (2017-01-14)
2017 14 January 2017 (2017-01-14)
2017 18 January 2017 (2017-01-18)
2017 18 January 2017 (2017-01-18)
2017 22 January 2017 (2017-01-22)
2017 22 January 2017 (2017-01-22)
2017 15 January 2017 (2017-01-15)
2017 15 January 2017 (2017-01-15)
2017 19 January 2017 (2017-01-19)
2017 19 January 2017 (2017-01-19)
2017 23 January 2017 (2017-01-23)
2017 23 January 2017 (2017-01-23)
2017 16 January 2017 (2017-01-16)
2017 16 January 2017 (2017-01-16)
2017 20 January 2017 (2017-01-20)
2017 20 January 2017 (2017-01-20)
2017 24 January 2017 (2017-01-24)
2017 24 January 2017 (2017-01-24)
2017 17 January 2017 (2017-01-17)
2017 17 January 2017 (2017-01-17)
2017 21 January 2017 (2017-01-21)
2017 21 January 2017 (2017-01-21)
2017 25 January 2017 (2017-01-25)
2017 25 January 2017 (2017-01-25)
2017 28 January 2017 (2017-01-28)
2017 28 January 2017 (2017-01-28)
2017 29 January 2017 (2017-01-29)
2017 29 January 2017 (2017-01-29)
2017 1 February 2017 (2017-02-01)
2017 2 February 2017 (2017-02-02)
2017 4 February 2017 (2017-02-04)
2017 5 February 2017 (2017-02-05)
2019 21 June 2019 (2019-06-21)
2019 22 June 2019 (2019-06-22)
2019 26 June 2019 (2019-06-26)
2019 26 June 2019 (2019-06-26)
2019 30 June 2019 (2019-06-30)
2019 30 June 2019 (2019-06-30)
2019 22 June 2019 (2019-06-22)
2019 22 June 2019 (2019-06-22)
2019 26 June 2019 (2019-06-26)
2019 27 June 2019 (2019-06-27)
2019 30 June 2019 (2019-06-30)
2019 30 June 2019 (2019-06-30)
2019 23 June 2019 (2019-06-23)
2019 23 June 2019 (2019-06-23)
2019 27 June 2019 (2019-06-27)
2019 27 June 2019 (2019-06-27)
2019 1 July 2019 (2019-07-01)
2019 1 July 2019 (2019-07-01)
2019 23 June 2019 (2019-06-23)
2019 24 June 2019 (2019-06-24)
2019 28 June 2019 (2019-06-28)
2019 28 June 2019 (2019-06-28)
2019 1 July 2019 (2019-07-01)
2019 1 July 2019 (2019-07-01)
2019 24 June 2019 (2019-06-24)
2019 24 June 2019 (2019-06-24)
2019 28 June 2019 (2019-06-28)
2019 29 June 2019 (2019-06-29)
2019 2 July 2019 (2019-07-02)
2019 2 July 2019 (2019-07-02)
2019 25 June 2019 (2019-06-25)
2019 25 June 2019 (2019-06-25)
2019 29 June 2019 (2019-06-29)
2019 29 June 2019 (2019-06-29)
2019 2 July 2019 (2019-07-02)
2019 2 July 2019 (2019-07-02)
2019 5 July 2019 (2019-07-05)
2019 5 July 2019 (2019-07-05)
2019 6 July 2019 (2019-07-06)
2019 6 July 2019 (2019-07-06)
2019 7 July 2019 (2019-07-07)
2019 7 July 2019 (2019-07-07)
2019 8 July 2019 (2019-07-08)
2019 8 July 2019 (2019-07-08)
2019 10 July 2019 (2019-07-10)
2019 10 July 2019 (2019-07-10)

In [47]:
dara.columns

Index(['Year', 'Date ', 'Time ', 'HomeTeam', 'AwayTeam', 'HomeTeamGoals',
       'AwayTeamGoals', 'Stage', 'SpecialWinConditions', 'Stadium', 'City',
       'Attendance'],
      dtype='object')

In [48]:
column_order = ['HomeTeam','AwayTeam','HomeTeamGoals','Stage', 'AwayTeamGoals','Attendance','Date ', 'City','Stadium',]  # Replace with your desired column order

# Rearrange the columns based on the defined order
dara = dara[column_order]

# Print the DataFrame with the updated column order
dara

,HomeTeam,AwayTeam,HomeTeamGoals,Stage,AwayTeamGoals,Attendance,Date,City,Stadium
0,Sudan,Egypt,1.0,Semifinals,2.0,30000.0,10-Feb-57,Khartoum,Municipal Stadium
1,Ethiopia,South Africa,NaN,Semifinals,NaN,NaN,10-Feb-57,NaN,NaN
2,Egypt,Ethiopia,4.0,Final,10.0,30000.0,16-Feb-57,Khartoum,Municipal Stadium
3,Egypt,Ethiopia,4.0,Final Tournament,0.0,30000.0,22-May-59,Cairo,Prince Farouk Stadium
4,Sudan,Ethiopia,1.0,Final Tournament,0.0,20000.0,25-May-59,Cairo,Prince Farouk Stadium
...,...,...,...,...,...,...,...,...,...
611,Algeria,Guinea,3.0,Round of 16,0.0,8205.0,7 July 2019 (2019-07-07),Cairo,30 June Stadium
612,Mali,Ivory Coast,0.0,Round of 16,1.0,7672.0,8 July 2019 (2019-07-08),Suez,Suez Stadium
613,Ghana,Tunisia,1.0,Round of 16,1.0,8890.0,8 July 2019 (2019-07-08),Ismailia,Ismailia Stadium
614,Senegal,Benin,1.0,Quarter-finals,0.0,5798.0,10 July 2019 (2019-07-10),Cairo,30 June Stadium
615,Nigeria,South Africa,2.0,Quarter-finals,1.0,48343.0,10 July 2019 (2019-07-10),Cairo,Cairo International Stadium

Question 20 of 20

In [49]:
# Filter rows where 'HomeTeamGoals' is not equal to 0
dara= dara[dara['HomeTeamGoals'] != 0]

# Reset the index of the DataFrame
dara = dara.reset_index(drop=True)

# Print the updated DataFrame
dara

,HomeTeam,AwayTeam,HomeTeamGoals,Stage,AwayTeamGoals,Attendance,Date,City,Stadium
0,Sudan,Egypt,1.0,Semifinals,2.0,30000.0,10-Feb-57,Khartoum,Municipal Stadium
1,Ethiopia,South Africa,NaN,Semifinals,NaN,NaN,10-Feb-57,NaN,NaN
2,Egypt,Ethiopia,4.0,Final,10.0,30000.0,16-Feb-57,Khartoum,Municipal Stadium
3,Egypt,Ethiopia,4.0,Final Tournament,0.0,30000.0,22-May-59,Cairo,Prince Farouk Stadium
4,Sudan,Ethiopia,1.0,Final Tournament,0.0,20000.0,25-May-59,Cairo,Prince Farouk Stadium
...,...,...,...,...,...,...,...,...,...
486,Madagascar,DR Congo,2.0,Round of 16,2.0,5890.0,7 July 2019 (2019-07-07),Alexandria,Alexandria Stadium
487,Algeria,Guinea,3.0,Round of 16,0.0,8205.0,7 July 2019 (2019-07-07),Cairo,30 June Stadium
488,Ghana,Tunisia,1.0,Round of 16,1.0,8890.0,8 July 2019 (2019-07-08),Ismailia,Ismailia Stadium
489,Senegal,Benin,1.0,Quarter-finals,0.0,5798.0,10 July 2019 (2019-07-10),Cairo,30 June Stadium
490,Nigeria,South Africa,2.0,Quarter-finals,1.0,48343.0,10 July 2019 (2019-07-10),Cairo,Cairo International Stadium